---
import { getRandomNumber, getRandomWord } from "@/lib/getRandomValue";

type Props = {
  isLast?: boolean;
  index: number;
};

const { index, isLast } = Astro.props;
---

<li class="relative">
  {
    !isLast && (
      <div class="absolute -bottom-2 border-b border-white/15 w-[2200px] -ml-[20%]" />
    )
  }
  <div
    id={`${index}`}
    class="p-2 relative flex justify-between items-center group font-mono hover:bg-white/5 rounded-3xl ring-accent-bluemedium focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 ring-offset-bkg"
    data-row
  >
    <div class="flex gap-8 items-center">
      <p
        class="text-white/50 text-5xl px-8 py-6 bg-white/5 max-w-fit rounded-2xl leading-none"
      >
        {index.toString().padStart(2, "0")}
      </p>
      <p
        class="text-5xl uppercase tracking-widest"
        id={`entry-${index}`}
        data-packageName
      >
        {getRandomWord()}
      </p>
      <div class="items-center hidden group-hover:flex">
        <a
          class="py-2 px-4 bg-white/10 ring-accent-bluemedium rounded-full hover:bg-white/20 mr-4"
          link-packageName
          target="_blank"
        >
          Explore tool
        </a>
        <a
          class="py-2 px-4 bg-white/10 ring-accent-bluemedium rounded-full hover:bg-white/20"
          href="/"
        >
          See users
        </a>
      </div>
    </div>
    <p
      class="text-5xl uppercase tracking-widest"
      id={`downloads-${index}`}
      data-downloadValue
    >
      {getRandomNumber()}
    </p>
  </div>
</li>
