---
import Link from "@/components/ui/Link.astro";
import { packagePersonalityDictionary } from "@/data/labelledBrewfiles";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { Brews } from "@/types/brews";
import { Image } from "astro:assets";

// for PROD
const { id } = Astro.params;
const res = await fetch(`${Astro.url.origin}/api/getBrewfiles.json?id=${id}`);

if (!res.ok) return Astro.redirect("/");
const brews: Brews = await res.json();

let entry = brews.brews[0];
if (!entry) return Astro.redirect("/");
---

<BaseLayout
  title={`${entry.userInfo.username}’s Brewfile`}
  description={`All packages in ${entry.userInfo.username}'s brewfile.`}
>
  <div
    class="flex justify-center lg:justify-between items-center flex-wrap container pt-8 lg:pt-16 gap-8"
    data-lastGenerated={entry.personalitySummary?.last_generated}
  >
    <div class="py-2 px-4 bg-white/10 rounded-full backdrop-blur-3xl">
      {entry.data.length} packages in this Brewfile
    </div>
    <Link
      variant={"accent"}
      href=`${Astro.url.origin}/brew/${id}/personality`
      size="large"
      classes="order-1 lg:order-none">Generate Personality</Link
    >
    <div class="flex gap-2">
      <Link
        href={`https://github.com/${entry.userInfo.username}`}
        variant={"text"}>@{entry.userInfo.username}</Link
      >
      <Link
        href={`https://github.com/${entry.userInfo.username}`}
        variant={"icon"}
        size={"bland"}
        classes="rounded-full hover:opacity-80 group"
      >
        <Image
          src={`https://github.com/${entry.userInfo.username}.png`}
          alt={entry.userInfo.username}
          width="50"
          height="50"
          class="rounded-full grayscale group-hover:ring-4"
        />
      </Link>
    </div>
  </div>
  <div class="flex flex-wrap justify-center container">
    {
      entry.data.map((item) => (
        <Link
          variant={"tile"}
          size={"bland"}
          href={
            packagePersonalityDictionary[item.name]?.link ??
            `https://google.com?q=${item.name}+package`
          }
          classes="backdrop-blur-3xl"
        >
          {item.name}
        </Link>
      ))
    }
  </div>

  <script>
    import { generatePersonality } from "@/lib/generatePersonality";
    import type { Brews } from "@/types/brews";
    const id = window.location.pathname.split("/")[2];
    const updatePersonality = async () => {
      const res = await fetch(`/api/getBrewfiles.json?id=${id}`);
      if (!res.ok) return Astro.redirect("/");
      const brews: Brews = await res.json();
      const entry = brews.brews[0];
      generatePersonality(entry.data, entry.id);
    };

    const last_generated = document.querySelector(
      "[data-lastgenerated]"
    ) as HTMLDivElement;

    if (last_generated) {
      if (
        Date.now() - parseInt(last_generated.dataset.lastgenerated as string) >
        60000
      ) {
        updatePersonality();
      }
    }
  </script>
</BaseLayout>
