---
import type { BrewsItem } from "@/types/brews";

type Props = {
  entry: BrewsItem;
};

const { entry } = Astro.props;
---

<div>
  <p>
    <strong>UserId:</strong>
    <a href={`${Astro.url.origin}/brew/${entry.id}`}>{entry.id}</a>
  </p>
  {
    entry.data.map((d) => (
      <ul>
        <li>{d.name}</li>
        <li>{d.packageManager}</li>
      </ul>
    ))
  }
</div>
